* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: sans-serif;
}

html,
body,
#root {
  height: 100%;
  background-color: #f0f2f5;
}

@media only screen and (max-width: 768px) {
  html,
  body,
  #root {
    overflow: auto;
  }
  * {
    font-size: 16px;
  }
}

.css-2b097c-container {
  border-radius: 5%;
  border: 1px solid #ccc;
}

.css-1wa3eu0-placeholder {
  font-size: 16px;
}

.css-yk16xz-control:hover {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.css-yk16xz-control {
  padding:5px 10px;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.css-1pahdxg-control {
  border: none !important;
  box-shadow: none !important;
  border-style: unset !important;
}

.css-1uccc91-singleValue {
  font-size: 12px;
}

.css-1g6gooi div {
  font-size: 16px;
}

.css-1pahdxg-control:hover {
  border: none !important;
  box-shadow: none !important;
  border-style: unset !important;
}
